* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*font family*/
}

/*zmienne na kolory*/
:root {
    --red-color: #FF0000;
    --white-color: #FFFFFF;
    --grey-color: #00000066;
    --dark-grey-color: #28272C;
    --black-color: #000000;
}

.btn--medium {
    padding: 20px 55px;
    border-radius: 40px;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

.btn--small {
    padding: 10px 29px;
    box-shadow: 0px 3px 6px #ff00004d;
    border-radius: 40px;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    margin: 25px 0;
    display: inline-block;
}

.btn--red {
    background-color: var(--red-color);
    box-shadow: 0 3px 6px #FF00004D;
    color: var(--white-color);
    margin-right: 25px;
}

.btn--white {
    background-color: var(--white-color);
    color: var(--red-color);
}

.btn--white--form {
    background-color: var(--white-color);
    color: var(--red-color);
    padding: 11px 52px;
    box-shadow: 0px 3px 6px #FF00004D;
    border: 1px solid #FF0000;
    border-radius: 40px;

}


.btn--arrow {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0 3px 6px #ff00004d;
    background-color: var(--red-color);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -30px;
    position: absolute;
}

/*btn -- big*/
/*btn -- small*/
/*btn -- icon*/

/*zaimportować obrazki*/

.section-title {
    text-transform: uppercase;
    font-size: 35px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
 .section-title::before,  .section-title::after {
     content: "";
     width: 50px;
     height: 3px;
     box-shadow: 0px 1px 6px #ff00004d;
     border-radius: 8px;
     background-color: var(--red-color);
     position: absolute;
 }
/*.section-title--light*/

.section-title::after {
    left: calc(50% + 100px);
}
.section-title::before {
    right: calc(50% + 100px);
}
.section-title-font-color-white {
    color: white;
}
.container {
    max-width: 1088px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*flex*/
}


/*.header.. */
.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    background-color: var(--grey-color);
    z-index: 2;
}

.logo, .logo--footer {
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 35px;
}
.logo--footer {
    font-size: 25px;
}

.logo--icon{
    padding-right: 5px;
    height: 35px;
}
footer--icon {
    padding-right: 5px;
    height: 19px;
}

.logo--red{
    color: var(--red-color);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
}

.logo--white {
    color: var(--white-color);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}
.wrapper ul{
    display: flex;
}
.wrapper li a {
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    /*padding: 22px 48px;*/
    text-transform: uppercase;
    color: var(--white-color);
}
.wrapper li {
    padding: 22px 48px;
}
.wrapper li:hover {
     background-color: rgba(256,256,256, 0.3);
 }

 .banner {
     display: flex;
     width: 100%;
     min-height: 80vh;
     background: url("/images/Image.jpg") no-repeat center/cover;
     align-items: center;
     justify-content: center;
     position: relative;
 }
 .banner::after {
     content: "";
     background: var(--black-color);
     opacity: 0.33;
     position: absolute;
     left: 0;
     top: 0;
     bottom: 0;
     right: 0;
 }

 .banner--title, .banner--description {
     font-family: 'Nunito Sans', sans-serif;
     color: var(--white-color);
 }

 .banner--title {
     font-weight: 900;
     text-transform: uppercase;
     font-size: 90px;
     margin-bottom: 10px;
 }

 .banner--description {
     font-weight: 700;
     font-size: 16px;
     line-height: 22px;
     margin-bottom: 54px;
     text-align: center;
 }
 .banner--wrapper {
     display: flex;
     flex-direction: column;
     align-items: center;
     z-index: 2;
     position: relative;

 }
/*.section....*/
.blog {
    margin: 91px 0 100px 0;

}
.blog--wrapper, .services--wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.blog--article--img{
    width: 352px;
    height: 234px;
    margin-bottom: 25px;
}
.blog--article--title {
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #6A6A6A;
    font-size: 19px;
    line-height: 26px;
    margin-bottom: 15px;
}

.blog--article--desc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #6A6A6A;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
}

.services, footer {
    background-color: var(--dark-grey-color);
    padding: 60px 0;
}

.services--article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services--article--img{
    width: 170px;
    height: 170px;
    margin-bottom: 25px;
}

.services--article--title {
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 19px;
    line-height: 26px;
    margin-bottom: 15px;
    text-align: center;
}

.services--article--desc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #B2B2B2;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 15px;
    text-align: center;
}

.contact {
    padding: 60px 0;
}
.contact--img {
    width: 444px;
    height: 316px;
}
.contact--wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.contact--form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

input[type="text"],
input[type="email"],
textarea {
    min-width: 444px;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    padding: 8px 12px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    outline: none;
}
textarea{
    min-height: 140px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    box-shadow: 0px 1px 6px #FF00004D;
    border: 1px solid #FF0000;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox {
    max-width: 444px;
    cursor: pointer;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #B2B2B2;
    line-height: 14px;
}

.checkbox span {
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    height: 22px;
    flex-shrink: 0;
    flex-basis: 22px;
    cursor: pointer;
    margin-right: 15px;
}
.checkbox input:checked + span {
    background: url("../images/Icon Check.svg") no-repeat center;
}
.footer--wrapper{
    display: flex;
    justify-content: space-between;
}

.footer--wrapper ul{
    display: flex;
    flex-direction: column;
    height: 120px;
    flex-wrap: wrap;
    width: 444px;
    margin-top: 20px;
}
.footer--wrapper li a {
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    margin: 7px 0;
    text-transform: uppercase;
    color: var(--white-color);
    display: inline-block;
}
.footer--wrapper li:first-child a{
    color: var(--red-color);
}
.copyright{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #D1D1D1;
    align-self: flex-end;
}